<div class="navbar-fixed">
  <nav class="red accent-3">
    <div class="nav-wrapper container red accent-3">
      <a href="/" class="brand-logo">Store</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home</i></a></li>
        <li><a href="#"><i class="material-icons">search</i></a></li>
        <li><a href="#modal1" id="checkout" class="waves-effect waves-light btn modal-trigger green accent-4">Checkout <span class="badge white"></span></a></li>
      </ul>
    </div>
  </nav>
</div>

<br>
