<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Store</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <style>
  </style>
</head>
<body>
  {% include 'partials/nav.html' %}
  {% include 'partials/form.html' %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
